<%= form_for [:admin, @subject], html: {multipart: true,
  class: "form-horizontal style-form"} do |f| %>
  <div class="form-group">
    <%= f.label :title, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :title, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :instruction, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_area :instruction, class: "form-control" %>
    </div>
  </div>
  <%= t ".list_of_tasks" %>
  <%= f.fields_for :tasks do |builder| %>
    <%= render "task_fields", f: builder %>
  <% end %>
  <div class="added-field"></div>
  <%= link_to_add_fields t(".add_task"), f, :tasks,
    "btn btn-primary add-remove-answer", t(".add_new_task") %>
  <div class="form-group">
    <div class="col-sm-12">
      <%= f.submit class: "btn btn-success pull-right" %>
    </div>
  </div>
<% end %>