<div class="container">
  <div class="row mt centered">
    <div class="col-lg-6 ">
      <h1><%= t ".about_text1" %><br><%= t ".about_text2" %></h1>
      <h2><%= t ".about_desc" %></h2>
    </div>
  </div>
  <hr>
  <div class="row mt centered">
    <div class="col-lg-4">
      <%= link_to image_tag("pic1.jpg", alt: "Grace Sojor", size:"100x100")%>
      <h4><%= t ".about_teammember1" %></h4>
      <p><%= t ".about_paragraph1" %></p>
      <p>
        <i class="glyphicon glyphicon-send"></i> 
        <i class="glyphicon glyphicon-phone"></i> 
        <i class="glyphicon glyphicon-globe"></i>
      </p>
    </div>    
    <div class="col-lg-4">
      <%= link_to image_tag("pic2.jpg", alt: "Christian Galamay", size:"100x100")%>
      <h4><%= t ".about_teammember2" %></h4>
      <p><%= t ".about_paragraph2" %></p>
      <p>
        <i class="glyphicon glyphicon-send"></i> 
        <i class="glyphicon glyphicon-phone"></i> 
        <i class="glyphicon glyphicon-globe"></i>
      </p>
    </div>
  </div>
</div>