<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title"><%= t ".title" %></h3>
  </div>
  <div class="box-body">
    <strong><i class="fa fa-book margin-r-5"></i><%= t ".text_education" %></strong>
    <p class="text-muted">
      <%= t ".text_educationhere" %>
    </p>
    <hr>
    <strong><i class="fa fa-map-marker margin-r-5"></i><%= t ".text_location" %></strong>
    <p class="text-muted"><%= t ".text_locationhere" %></p>
    <hr>
    <strong><i class="fa fa-pencil margin-r-5"></i><%= t ".text_skills" %></strong>
    <p>
      <span class="label label-danger"><%= t ".text_skillshere" %></span>
      <span class="label label-success"><%= t ".text_skillshere" %></span>
      <span class="label label-info"><%= t ".text_skillshere" %></span>
      <span class="label label-warning"><%= t ".text_skillshere" %></span>
      <span class="label label-primary"><%= t ".text_skillshere" %></span>
    </p>
    <hr>
    <strong><i class="fa fa-file-text-o margin-r-5"></i><%= t ".text_notes" %></strong>
    <p><%= t ".text_noteshere" %></p>
  </div>
</div>