<div class="nav-tabs-custom">
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#mycourses" data-toggle="tab" aria-expanded="true">
      <%= t ".text_mycourses" %></a>
    </li>
    <li>
      <a href="#currentcourses" data-toggle="tab" aria-expanded="true"><%= t ".text_mycurrentcourses" %></a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane" id="currentcourses">
      <div class="post clearfixr">
        <ul>
          <li><h2><%= @active_user_course.course.title %></h2></li>
          <li><b><%= t ".start_date: " %></b><%= datetime @active_user_course.course.start_date %></li>
          <li><b><%= t ".end_date: " %></b><%= datetime @active_user_course.course.end_date %></li>
          <li><b><%= t ".status: " %></b><%= @active_user_course.course.status %></li>
        </ul>
        <div class="user-show-subjects">
          <h3><%= t ".subject_list" %></h3>
          <% @active_user_course.user_subjects.each do |user_subject| %>
            <ul>
              <li><h4><%= link_to user_subject.subject.title, user_subject_path(user_subject) %></h4></li>
              <li><%= user_subject.status %></li>
            </ul>
            <table class="table table-striped user-show-tasks">
              <thead>
                <tr>
                  <th><%= t ".task_title" %></th>
                  <th><%= t ".status" %></th>
                </tr>
              </thead>
              <tbody>
                <% user_subject.subject.tasks.each do |task| %>
                  <tr>
                    <td class="user-show-task-title"><%= task.title %></td>
                    <% if @user_tasks.map{|user_task| user_task.task_id}.include? task.id %>
                      <td>
                        <%= t ".finish" %>
                      </td>
                    <% else %>
                      <td>
                        <%= form_for UserTask.new, url: user_tasks_path, method: :post do |f|%>
                          <%= f.hidden_field :user_subject_id, value: user_subject.id %>
                          <%= f.hidden_field :user_id, value: current_user.id %>
                          <%= f.hidden_field :task_id, value: task.id %>
                          <%= f.hidden_field :status, value: "Finish" %>
                          <%= f.submit t(".mark_finish"), class: "btn btn-sm btn-primary" %>
                        <% end %>
                      </td>
                    <% end %>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% end %>
        </div>
      </div>
    </div>
    <div class="tab-pane active" id="mycourses">
      <ul class="timeline timeline-inverse">
        <div class="col-md-12">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">
                <i class="fa fa-folder-open-o"></i><%= t ".title_courses" %>
              </h3>
            </div>
            <div class="box-body">
              <table class="table table-bordered">
                <thead>
                  <th><%= t ".name" %></th>
                  <th><%= t ".description" %></th>
                  <th><%= t ".start_date" %></th>
                  <th><%= t ".end_date" %></th>
                  <th><%= t ".status" %></th>
                </thead>
                <tbody>
                  <% @user_courses.each do |user_course| %>
                    <tr>
                      <td><%= user_course.course.title %></td>
                      <td><%= user_course.course.description.truncate 50 %></td>
                      <td><%= datetime user_course.course.start_date %></td>
                      <td><%= datetime user_course.course.end_date %></td>
                      <td><%= user_course.course.status %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div >
      </ul>
    </div>
  </div>
</div>