<section class="wrapper">
  <h3>
    <%= link_to admin_user_courses_path(current_user.id) do %>
      <i class="fa fa-angle-right">
        <%= t ".title" %>
      </i>
    <% end %>
  </h3>
  <div class="row mt">
    <div class="col-md-9">
      <div class="panel-body">
        <div class="jumbotron">
          <h2><%= @course.title %></h2>
          <br>
          <ul class="nav nav-tabs">
            <li class="active"><a href="#supervisor"><%= t ".supervisors" %></a></li>
            <li><a href="#trainee"><%= t ".trainees" %></a></li>
          </ul>
            <div class="tab-content">
              <div id="supervisor" class="tab-pane fade in active">
              <%= form_for @course, url: admin_user_course_path(current_user.id, @course.id),
                method: :put, html: {multipart: true, class: "form-horizontal style-form"} do |f| %>
                <table class="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th><%= t ".select" %></th>
                      <th><%= t ".Name" %></th>
                      <th><%= t ".email "%></th>
                    </tr>
                  </thead>
                  <tbody>
                    <%= f.fields_for :supervisor_courses do |builder| %>
                      <tr>
                        <td><%= builder.check_box :_destroy,
                          {checked: !builder.object.id.nil?}, 0, 1 %></td>
                        <td><%= builder.object.user.full_name %></td>
                        <td><%= builder.object.user.email %></td>
                      </tr>
                      <%= builder.hidden_field :user_id, value: builder.object.user_id %>
                    <% end %>
                  </tbody>
                </table>
                <%= f.submit class: "btn btn-success pull-right" %>
              <% end %>
              </div>
              <div id="trainee" class="tab-pane fade">
              <%= form_for @course, url: admin_user_course_path(current_user.id, @course.id),
                method: :put, html: {multipart: true, class: "form-horizontal style-form"} do |f| %>
                <table class="table table-striped table-bordered">
                  <thead>
                    <th><%= t ".select" %></th>
                    <th><%= t ".name" %></th>
                  </thead>
                  <tbody>
                    <%= f.collection_check_boxes :trainee_ids, User.trainee, :id, :full_name do |b| %>
                      <tr>  
                        <td class="align_checkbox"><%= b.check_box %></td>
                        <td><%= b.text %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
                <%= f.submit class: "btn btn-success pull-right" %>
                <% end %>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>