<div id="page-wrapper" >
  <div id="page-inner">
    <hr/>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="page-header">
             <i class="fa fa-globe"></i><%= t ".header_title" %>
            </h2>
          </div>
          <div class="panel-body">
            <table class="table table-striped table-advance table-hover">
              <hr>
              <thead>
                <tr>
                  <th><%= t ".title" %></th>
                  <th><%= t ".description" %></th>
                  <th><%= t ".start_date" %></th>
                  <th><%= t ".end_date" %></th>
                  <th><%= t ".supervisor_count" %></th>
                  <th><%= t ".trainee_count" %></th>
                  <th><%= t ".status" %></th>
                </tr>
              </thead>
              <tbody>
                <% @courses.each do |course| %>
                  <tr>
                    <td>
                      <%= course.title %>
                    </td>
                    <td>
                      <%= course.description.truncate 30 %>
                    </td>
                    <td>
                      <%= datetime course.start_date %>
                    </td>
                    <td>
                      <%= datetime course.end_date %>
                    </td>
                    <td>
                      <%= course.supervisor_courses.count %>
                    </td>
                    <td>
                      <%= course.user_courses.count %>
                    </td>
                    <td>
                      <%= course.status %>
                    </td>
                    <td>
                      <div class="admin-actions">
                        <%= link_to t(".view") ,course_path(course), class: "btn btn-success" %>
                        <%= link_to t(".join") ,"#", class: "btn btn-primary" %>
                      </div>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>