<section class="wrapper">
  <h3>
    <%= link_to courses_path do %>
      <i class="fa fa-angle-right">
        <%= t ".title" %>
      </i>
    <% end %>
  </h3>
  <div class="row mt">
    <div class="col-md-9">
      <div class="panel-body">
        <div class="jumbotron">
          <h2><%= @course.title %></h2>
          <div class="row course-users">
          <%= @course.description %>
          <br><br>
          <table class="table table-striped table-advance table-hover">
            <thead>
              <tr>
                <th><%= t ".start_date" %></th>
                <th><%= t ".end_date" %></th>
                <th><%= t ".status" %></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= datetime @course.start_date %></td>
                <td><%= datetime @course.end_date %></td>
                <td><%= @course.status %></td>
              </tr>
            </tbody>
          </table>
        </div>
        <br>
        <b><%= t ".subjects" %></b>
        <table class="table table-striped table-advance table-hover">
          <tbody>
            <% @course.subjects.each do |subject| %>
              <tr>
                <td>
                  <%= subject.title %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>