<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <%= link_to image_tag("framgia_logo.png", alt: "Framgia logo", size:"50x50") %>
    </li>
    <li class="admin-side-title">
      <h3><%= t ".side_title" %></h3>
    </li>
    <li>
      <%= link_to t(".users"), admin_users_path %>
    </li>
    <li>
      <%= link_to t(".courses"), admin_user_courses_path(current_user.id) %>
    </li>
    <li>
      <%= link_to t(".subjects"), admin_subjects_path %>
    </li>
    <li>
      <%= link_to t(".homepage"), root_path %>
    </li>
  </ul>
  <div class="user-panel footer navbar-fixed-bottom">
    <ul>
      <li><%= link_to image_tag(current_user.avatar, size: "100x100"), "#" %></li>
      <li>
        <h3>
          <%= current_user.full_name %>
          <br>
          <%= current_user.user_type %>
        </h3>
      </li>
    </ul>
  </div>
</div>