<footer class="footer">
  <section class="content-block secondary-feature">
    <div class="container">
      <section class="on-the-go">
        <h2><i class="fa fa-globe lg"></i><%= t ".footer_text" %></h2>
        <p class="lead"><%= t ".footer_text_more" %></p>
      </section>
    </div>
  </section>
  <nav>
    <ul class="site-footer">
      <ul class="site-footer-links right">
        <li><%= link_to t(".button_about"), about_path %></li>
        <li><%= link_to t(".button_contact"), contact_path %></li>
        <li><%= link_to t(".button_help"), help_path %></li>
      </ul>
      <ul class="site-footer-links">
        <li><%= t ".footer_title" %></li>
      </ul>
    </ul>
  </nav>
</footer>