<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= t ".app_title" %></title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track": true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="wrapper">
      <%= render "partials_admin/sidebar" %>
      <div id="page-content-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <%= render "layouts/flash" %>
              <%= render "partials_admin/header" %>
              <%= yield %>
              <%= javascript_include_tag "application", "data-turbolinks-track": true %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>